.calculator {
    width:300px;
    height:300px;
    background-color:#eeeeee;
    border:2px solid #CCCCCC;
    margin:auto;
    padding-left:5px;
    padding-bottom:5px;
}

.calculator td {
    height:16.66%;
}

.calculator thead {
    text-align:center;
}

.calculator input[type=text] {
    width:90%;
    text-align:right;
}

.calculator tbody td {
    width:25%;
}

.calculator input[type=button] {
    width:90%;
    height:90%;
    font-size:20px;
}
